{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <h1>It works!</h1>
      <p>No doubts.</p>
    </div>
  </div>
</header>

{{ if .activation }}
<div class="container">
    <div class="alert alert-{{.activation}}">
        <h1>
            Activation is {{ if eq .activation "success"}} Successful! {{ else }} Failed... {{ end }}
        </h1>
    </div>
</div>
{{ end }}
<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
